---
---

@import "{{ site.theme }}";

.page-header h1 a {
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}

.backlink {
  color: #159957;
  display: inline-block;
  margin-top: 2em;
}

.boldlists > ul > li {
  font-weight: bold;
  ul,
  ol {
    font-weight: normal
  }
}

.under-construction {
  margin: 1em auto;
  text-align: center;
  max-width: 600px;

  img {
    width: 180px;
  }
}
