---
---

@import "{{ site.theme }}";

.boldlists > ul > li {
  font-weight: bold;
  ul,
  ol {
    font-weight: normal
  }
}

.under-construction {
  margin: 1em auto;
  text-align: center;
  max-width: 600px;

  img {
    width: 160px;
  }
}
